@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body{
    margin: 10px;
    background: #070212;
    /* background-image: url(grid_back.png); */
}
.section{
}
.grid{
    padding: 20px;
    /* margin-left: 20px; */
    background-image: url("grid_back.png");
    background-repeat: no-repeat;
}
.content{
    color: #fff;
    margin-top: 7vw;
    margin-bottom: 5vw;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    
}
.l1{
    margin: 10px;
    font-size: large;
}
.l2{
    font-size: large;
    margin: 10px;
}
.l3{
    font-size: medium;
}
.btn1{
    margin: 0 20px;
    font-size: large;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
}